body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}





header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px;
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}

footer{
    background-color: #333;
    color: #fff;
    /* padding: 10px; */
    text-align: center;
    font-size: 1rem;
}

li {
    margin: 0px;
}